<center>
<button type="button" onclick="window.location.href = '/AllBlogs'">All Blogs</button>
<button type="button" onclick="window.location.href = '/NewBlog'">New Blog</button>
<button type="button" onclick="window.location.href = '/MyBlogs/0'">My Blogs</button>
<button type="button" onclick="window.location.href = '/MyBin'">My Bin</button>
<form class="search" action="/Blog" method="post">
<input type="search" name="name" id="inputSearch">
</form>
</center>
<h2>{{message}}</h2>
<div class="warp" onclick="window.location.href ='/AllBlogs/fghjk'">
<h1>fghjk</h1>
<p>hgvubhjnk</p>
<div class="left">
<p>hb</p>
</div>
<div class="right">
<p>Fri, Aug 4, 2023, 3:03:37 PM</p>
</div>
</div>
<div class="warp" onclick="window.location.href ='/AllBlogs/sdfghj'">
<h1>sdfghj</h1>
<p>vn f y y t</p>
<div class="left">
<p>hb</p>
</div>
<div class="right">
<p>Sun, Jun 2, 2023 5:33:46 PM</p>
</div>
</div>
