<center>
<button type="button" onclick="window.location.href = '/AllBlogs'">All Blogs</button>
<button type="button" onclick="window.location.href = '/NewBlog'">New Blog</button>
<button type="button" onclick="window.location.href = '/MyBlogs/0'">My Blogs</button>
<button type="button" onclick="window.location.href = '/MyBin'">My Bin</button>
<form class="search" action="/Blog" method="post">
<input type="search" name="name" id="inputSearch">
</form>
</center>
<h2>{{message}}</h2>
<div class="warp" onclick="window.location.href ='/MyBin/bb'">
<h1>bb</h1>
<p>bbhj</p>
<div class="left">
<p>y</p>
</div>
<div class="right">
<p>Fri, Aug 4, 2023, 4:58:26 PM</p>
</div>
</div>
