<center>
     <button type="button" onclick="window.location.href = '/SignIn'">Sign In</button>
     <button type="button" onclick="window.location.href = '/SignUp'">Sign Up</button>
     <form class="search" action="/Blog" method="post">
          <input type="search" name="name" id="inputSearch">
     </form>
</center>
<center>
     <p class="error">{{content}}</p>
</center>