<center>
<button onclick="window.location.href='/'">Home</button>
<button onclick="window.location.href='/SignIn'">Sign In</button>
<button onclick="window.location.href='/SignUp'">Sign Up</button>
</center>
<center>
<h2 class="error">{{messages}}</h2>
</center>
<center><form method="post">
<label for="Usernames">Username:</label>
<input type="text" name="Usernames"><br><br>
<label for="Passwords">Password:</label>
<input type="Password" name="Passwords"><br><br>
<button type="submit" class="submit">Submit</button>
</form></center>