:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
     --whitesmoke: #b6b6b6a4;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
	color: #FFF;
}

body {
	min-height: 100vh;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

header h2{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 2rem;
}


input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

label{
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--whitesmoke);
     margin-bottom: 2rem;
     margin-right: 1rem;
}

.details{
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.details::placeholder{
	color: var(--grey);
}

#Submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
     background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
	margin-top: 2rem;
	margin-left: 45%;
}

#Submit:hover {
	opacity: 0.8;
}

#Submit:active {
	opacity: 0.6;
}

input:required:invalid,input:focus:invalid {
     -moz-box-shadow: none;
     box-shadow: none;
     border-color: var(--red);
}

main {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.contacts {
	padding: 1rem;
}

.contacts h3 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

#contact-list .taskwarp{
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}


.taskwarp .text-input {
	color: var(--light);
	font-size: 1.125rem;
	transition: 0.4s;
     margin-bottom: 1rem;
}

.taskwarp .text-input:not(:read-only){
	color: var(--pink);
}

.taskwarp .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.taskwarp .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.taskwarp .actions button:hover {
	opacity: 0.8;
}

.taskwarp .actions button:active {
	opacity: 0.6;
}

.taskwarp .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
     background-clip: text;
	-webkit-text-fill-color: transparent;
}

.taskwarp .actions .delete {
	color: crimson;
}