:root{
     --light: #ffffff;
     --grey: #ffffff96;
     --dark: #000000;
     --lightlight: #ffffff8a;
     --green:#0e6320;
     --trans: #00000000;
     --back:#2c2d5a;
     --sunset1:#8C0000;
     --sunset2:#BD2000;
     --sunset3:#FA1E0E;
     --sunset4:#FFBE0F;
     --blue1:#003cff;
     --blue2:#006eff;
     --blue3:#00aeff;
     --blue4:#00f7ff;
     --pink1:#ff0095;
     --pink2:#ff00ea;
     --pink3:#ff00ff;
     --pink4:#a200ff;
     --bluegradient: linear-gradient(to right, var(--blue1), var(--blue2), var(--blue3), var(--blue4), var(--blue4));
     --pinkgradient: linear-gradient(to right, var(--pink1), var(--pink2), var(--pink3), var(--pink4), var(--pink4));
     --sunsetgradient: linear-gradient( to right, var(--sunset1), var(--sunset2), var(--sunset3), var(--sunset4));
}

body{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: var(--back);
     padding: 1rem;
     font-size: 3rem;
}

.split {
     font-size: 1rem;
     height: 100%;
     position: fixed;
     z-index: 1;
     top: 0;
     overflow-x: hidden;
     padding: 1rem;
}

.left {
     width: 25%;
     left: 0;
     border-right: 2px solid var(--grey);
}

.right {
     width: 70%;
     right: 0;
}

h2{
     font-size: 2rem;
     padding: 1rem;
     text-align: center;
     color: var(--light);
     border: 2px solid var(--lightlight);
     border-radius: 20px;
     border-top: 0px solid transparent;
     border-left: 0px solid transparent;
     border-right: 0px solid transparent;     
}

label,#notes-title,textarea{
     font-size: 3rem;
     padding: 1rem;
     margin: 1rem;
     width: 90%;
     border-radius: 20px;
     font-weight: 500;
}

label{
     font-size: 1.45rem;
     border: 0;
     cursor: pointer;
     color: var(--light);
     font-weight: 800;
}
#notes-title{
     font-size: 1rem;
     font-weight: 600;
}
textarea {
     font-size: 1rem;
     height: 20rem;
}
#Submit{
     font-size: 2rem;
     padding: 1rem;
     margin-left:35%;
     margin-right:35%;
     width: auto;
     border-radius: 20px;
     border: 0;
     cursor: pointer;
     font-weight: bolder;
     background-image: var(--bluegradient);
     -webkit-background-clip: text;
     background-clip: text;
	-webkit-text-fill-color: transparent;
}
.notes{
     float: left;
     margin: 1rem;
     width: 23rem;
     font-size: 1rem;
     padding: 1rem;
     margin: 1rem;
     border-radius: 20px;
     color: var(--dark);
     background-color: var(--lightlight);
}
.notes-title-show{ 
     font-size: rem;
     font-weight: 700;
     color: var(--green);
     height:3rem;
     margin: 0 0 1rem 0;
}
.notes-time-show{
     font-weight: 600;
     height:2rem;
     margin: 0 0 1rem 0;
}
.notes-time-show{
     margin:0 0 1rem 1rem;
}
.notes-body-show{
     background-color: transparent;
     border-color: transparent;
     text-align: justify;
     height: 5rem;
     overflow: hidden;
     margin: 0 0 1rem 0;
}

.notes-edit,.notes-del{
     border: 0;
     font-size: 1rem;
     font-weight: bolder;
     cursor: pointer;
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     max-height:2rem;
     margin:0 0 1rem 1rem;
}

.notes-edit{
     background-image: var(--pinkgradient);
}

.notes-del{
     background-image: var(--sunsetgradient);

}