:root{
     --light: #ffffff;
     --grey: #ffffff96;
     --dark: #000000;
     --darklight: #00000041;
     --col1:#404258;
     --col2:#474E68;
     --col3:#50577A;
     --col4:#6B728E;
     --trans: #00000000;
     --sunset1:#8C0000;
     --sunset2:#BD2000;
     --sunset3:#FA1E0E;
     --sunset4:#FFBE0F;
     --blue1:#003cff;
     --blue2:#006eff;
     --blue3:#00aeff;
     --blue4:#00f7ff;
     --pink1:#ff0095;
     --pink2:#ff00ea;
     --pink3:#ff00ff;
     --pink4:#a200ff;
     --bluegradient: linear-gradient(to right, var(--blue1), var(--blue2), var(--blue3), var(--blue4), var(--blue4));
     --pinkgradient: linear-gradient(to right, var(--pink1), var(--pink2), var(--pink3), var(--pink4), var(--pink4));
     --sunsetgradient: linear-gradient( to right, var(--sunset1), var(--sunset2), var(--sunset3), var(--sunset4));
     --darkgradient: linear-gradient(to bottom, var(--col1), var(--col1), var(--col1), var(--col2), var(--col2), var(--col3), var(--col4));
     
}

body{
     font-family: 'Roboto', sans-serif;
     background-image: var(--darkgradient);  
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     padding: 1rem;
     color: var(--grey);
}

.head{
     float: left;
     padding: 1rem;
     width:30%;
}

.section{
     float: left;
     padding: 1rem;
     width:65%;
     min-height: 12rem;
     border-left: 1px solid var(--grey);
}

h2{
     padding: 1rem;
     border-bottom:  1px solid var(--grey);
}

form{
     display: flex;
}
#notes-text{
     overflow: hidden;
     background-color: var(--grey);
     width: 100%;
     height: 100%;
     font-size: 1rem;
     padding: 1rem;
     margin-right: 1rem;
     border: 0;
     border-radius: 20px;
}

.Submit{
     height: 3rem;
     background-color: var(--grey);
     font-size: 1.5rem;
     margin-top: 1rem;
     border: 0;
     background-image: var(--bluegradient);
     -webkit-background-clip: text;
     background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;	 
}
.notes{
     display: flex;
     float: left;
     padding: 1rem;
}
.noteswarp{
     display: flex;
     float: left;
     margin-left: 1rem;
     margin-bottom: 1rem;
}

.text{
     overflow: hidden;
     background-color: var(--grey);
     width: 100%;
     height: 100%;
     font-size: 1rem;
     padding: 1rem;
     margin-right: 0.25rem;
     border: 0;
     border-radius: 20px;
     display: flex;
     float: left;
}

.action{
     display: flex;
     float: right;
}

.edit{
     background-image: var(--pinkgradient);
}

.save{
     background-image: var(--bluegradient);
}

.text:not(:read-only),.text:focus{
     background-color: var(--trans);
     color: var(--sunset3);
}

.delete{
     background-image: var(--sunsetgradient);
}

.edit,.delete{
     border: 0;
     font-size: 0.90rem;
     display: flex;
     padding: 0.25rem;
     margin-bottom: 0.5rem;
     -webkit-background-clip: text;
     background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}