:root{
     --1: #ffffff;
     --2: #000000;
     --3: #1d20ac;
     --4: #2525ab;
     --5: #303288;
     --6: #d00606;
     --7: #09c303;
     --8: #99738e;
     --9: #f64C72;
     --10: linear-gradient(to right, var(--5), var(--4), var(--4), var(--4), var(--3), var(--3), var(--3), var(--3), var(--4), var(--4), var(--4), var(--5));
}

body{
     color: var(--1);
     font-family: 'Barlow', sans-serif;
     margin: 0.5rem;
     padding: 0.5rem;
     background-image: var(--10);
     cursor:default;
     display: block;
}

button{
     font-size : 1rem;
     margin: 0.02rem;
     padding: 1rem;
     border: 1px solid transparent;
     background-color: transparent;
     color: var(--1);
}

button:hover{
     border: 1px solid transparent;
     border-bottom-color: var(--9);
     color: var(--9);
     cursor: pointer;
}

.error{
     padding: 1rem;
     margin: 3rem;
     color: var(--9);
     border-radius: 1rem;
     font-size: 2rem;
     font-weight: 700;
     display: inline-block;
}

.warp{
     border: 1px var(--1) solid;
     border-radius: 1rem;
     padding: 1rem;
     margin: 1rem;
     width: 20rem;
     height : 15rem;
     display: inline-block;
}

.warp:hover{
     border: 1px var(--9) solid;
     background-color: var(--9);
     cursor: pointer;
}

.warp:hover h1,.warp:hover p{ 
     color: var(--4);
}
form{
     padding: 2rem;
     margin: 1rem;
     border-radius: 1rem;
     width: 50%;
     font-size: 1rem;
     display: block;
}
label{
     font-weight: 500;
     font-size: 1.2rem;
     margin-right: 1rem;
}

input{
     position:static;
     color: var(--2);
     font-weight: 500;
     border-radius: 1rem;
     padding: 1rem;
     border: 5px var(--3) solid;
}

input:hover ,input:active{
     border: 5px var(--9) solid;
     color: var(--9);
     cursor: pointer !important;
}

.submit{
     font-size : 1rem;
     margin: 0.02rem;
     padding: 1rem;
     border: 1px solid transparent;
     background-color: transparent;
     color: var(--1);
     cursor: pointer;
     display: inline-block;
}
.submit:hover{
     color: var(--9);
     font-weight: bolder;
     border: 1px solid transparent;
}
.blog{
     padding: 2rem;
     margin: 1rem;
     border-radius: 1rem;
     font-size: 1rem;
     display: block;
     text-align: justify;
}
   
.left {
     left: 0;
     text-align: left;
}

.right {
     right: 0;
     text-align: right;
     margin-top: -2.20rem;
}