body{
     background-color: wheat;
     text-align:center;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}

form{
     box-sizing:border-box;
     border-radius: 50px;
     padding:  5px 5px 5px 5px;
     position: absolute;
     top: 10vh;
     left: 40vw;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     background-color: #43919b;
     width: moz-fit-content;
}

input{
     background-color: #30AADD;
     border-radius: 100px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     color: Black;
     font-weight: bold;
     padding: 5px 5px 5px 5px;
     width: 3vw;
     height: 3vw;
     margin: 20px 20px 20px 20px;
     text-align: auto;
     font-size: 20px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#display{
     text-align: auto;
     text-indent: 10px;
     width: 40vh;
     font-size: 30px;
     border-radius: 100px;
     background-color: #ffffff;
}

input:hover{
     background-color: #30a9ddb9;
}